/*-- scss:rules --*/

.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

.navbar-title {
  /*
  The font size will be:
  - no smaller than 0.7rem (minimum size)
  - no larger than 1.5rem (maximum size)
  - will scale dynamically at 4% of the viewport width (preferred size)
  */
  font-size: clamp(0.7rem, 4vw, 1.5rem);
}

.img-blur3 {
  filter: blur(3px);
}

.img-blur2 {
  filter: blur(2px);
}

