/*-- scss:rules --*/

.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

.navbar-title {
  /*
  The font size will be:
  - no smaller than 1rem (minimum size)
  - no larger than 2rem (maximum size)
  - will scale dynamically at 4% of the viewport width (preferred size)
  */
  font-size: clamp(1rem, 4vw, 2rem);
}

.img-blur3 {
  filter: blur(3px);
}

.img-blur2 {
  filter: blur(2px);
}

